.git/
.github/
.idea/
.vscode/

**/node_modules/
**/dist/
**/target/
**/.nuxt/
**/.output/
**/*.log
**/*.tsbuildinfo

backend/
frontend/
docs/
e2e/
sql/
*.docx
*.md

!admin/
!admin/package.json
!admin/package-lock.json
!admin/index.html
!admin/src/
!admin/tsconfig.json
!admin/vite.config.ts
!docker/
!docker/nginx/

